<div data-role="header">
  <h1>Sequencescape - Illumina C Pipeline</h1>
  <div data-role="navbar">
    <ul>
      <li><a href="<%= search_path %>" class="ui-btn-active" >Search</a></li>
      <li><a href="<%= ongoing_plates_path %>" >All Ongoing Plates</a></li>
    </ul>
  </div>
